<div style="margin: 100px 20px 0">
  <p>Congrats <%= current_user.first_name + " " + current_user.last_name %>, you'll get drunk with the <%= @cocktail.name %> on <%= @booking.date %></p>
  <%= link_to "Cancel this order", booking_path(@booking), method: :delete, data: {turbo_confirm: "Are you sure you don't want to get drunk?" }, class:"btn btn-primary"%>
</div>
